# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
venv/
env/
.env

# Data and models
data/
models/
*.pth
*.pt
*.h5

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# Samples
sample_*.png 